<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ SITE_TAGLINE }}">
    <title>{{ SITE_TITLE }}{% block entry %}{% ifdef TITLE %} - {{ TITLE }}{% endif %}{% endblock %}{% block listing_once %} - {{ SITE_TAGLINE }}{% endblock %}</title>
    <link href="//cdn.jsdelivr.net/bootswatch/3.3.2/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ BASE_URL }}/assets/custom.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ BASE_URL }}/atom.xml" rel="alternate" type="application/atom+xml" title="{{ SITE_TITLE }}" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ BASE_URL }}/">{{ SITE_TITLE }}</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li{% if MENU == "blog" %} class="active"{% endif %}><a href="{{ BASE_URL }}/">Blog</a></li>
            <li{% if MENU == "about" %} class="active"{% endif %}><a href="{{ BASE_URL }}/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% block listing %}
          <article>
            <h3><a href="{{ BASE_URL }}/post/{{ FILENAME }}/">{{ TITLE }}</a></h3>
            {{ CONTENT }}
            <div class="metadata well well-sm">
              Author: <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_NAME }}</a><br />
              {% ifdef DATE_FORMATTED %}Published on: {{ DATE_FORMATTED }}<br />{% endif %}
              <a href="{{ BASE_URL }}/post/{{ FILENAME }}/">Permalink</a>
            </div>
          </article>
          {% endblock %}
          {% block listing_once %}
          <ul class="pager">
            {% ifdef PREVIOUS_PAGE %}
            <li class="previous">
              <a href="{{ BASE_URL }}/page/{{ PREVIOUS_PAGE }}/">&larr; Newer</a>
            </li>
            {% endif %}
            {% ifdef NEXT_PAGE %}
            <li class="next">
              <a href="{{ BASE_URL }}/page/{{ NEXT_PAGE }}/">Older &rarr;</a>
            </li>
            {% endif %}
          </ul>
          {% endblock %}
          {% block entry %}
          <article>
            <h3>{{ TITLE }}</h3>
            {{ CONTENT }}
            {% ifdef IS_POST %}
            <div class="metadata well well-sm">
              Author: <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_NAME }}</a><br />
              {% ifdef DATE_FORMATTED %}Published on: {{ DATE_FORMATTED }}<br />{% endif %}
              <a href="{{ BASE_URL }}/post/{{ FILENAME }}/">Permalink</a>
            </div>
            {% endif %}
          </article>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="copyright text-muted">&copy; <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_NAME }}</a></p>
        </div>
      </div>
    </div>
    <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.4"></script>
  </body>
</html>
